

/* Footer.css */
.Footer {
  
    margin-bottom: 0%;
    background: rgb(80,198,255);
    background: radial-gradient(circle, rgba(80,198,255,1) 0%, rgba(204,227,255,1) 83%);
    padding: 0.5rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
  }
  
  .footer-section {
    flex: 1;
    align-items: start;
    margin: 1 1rem;
  }
  
  .footer-section li, p {
    color: white;
    font-size: 1.1rem;
    list-style: none;
  }
  
  .footer-section h1 {
    font-size: 1.8rem;
    display: flex; 
    align-items: center; 
  }
  
  .footer-section h2 {
    margin: 0px;
    font-size: 1.2rem;
    color: #00d0ff;
  }
  
  .logostar {
    color: #00d0ff;
    padding: 10px;
    cursor: pointer;
    margin-left: 5px; 
  }
  
  .navbar-logo {
    margin: 0;
    cursor: pointer;
    display: flex; 
    align-items: center; 
    color: #00d0ff;
  }
  
  