body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* searchresults.css */
.search-results-container {
  background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  overflow-y: auto;
}
    

.results-section{
  overflow-y: auto;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;   
  min-height:100vh;
  background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}  
  
  .search-result {
    overflow-y: auto;
    scroll-behavior: smooth;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    border: 1px solid #ccc;
    height:150px;
    background-color: black;
    width: 80%;
    align-self: center;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  }
  
  .search-result img {
    max-width: 100px;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
  }
  
  .result-details {
    flex: 1;
  }
  
  .result-title {
    font-size: 22px;
    font-weight: bold;
    color: #00d0ff;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .result-overview {
    font-size: 18px;
    color: #ffffff;
    margin-top: 5px;
  }
  
  /* Additional styling as needed */
  
  h1 {
    color:#ffffff;
    align-self: center;
    justify-self: center;
  }