/* Import the background image */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 100%;
    filter: blur(-30px);
}
  
html{
    background: url('../signlogin.jpg');
    height: fit-content;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: -1;
}
  
.navbarsignin {
    display: flex;
    position: relative;
    z-index: 2;
}
  
.navbar-logoo {
    margin-top: 10px;
    font-size: 2rem;
    color: #00d0ff;
    margin-left: 15px;
    cursor: pointer;
    display: flex; 
    
}
  
.logostarsignin {
    width: 30px;
    height: 30px;
    color: #00d0ff;
    margin-left: 5px;
}

.form-container {
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 5;
}

.signinform {
    margin-top: 60px;
    justify-content: center;
    display: grid;
    grid-column-gap: -10px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 300px;
    width: 400px;
    border-radius: 20px;
}

.title ,h1{
    color: white;
}

.form ,h5 {
    color: white;
    margin-top: 5px;
}

.email {
    
    display: flex;
    align-items: center;
    border: none;
    padding: 10px;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-weight:100;
    outline: none;
    background-color: white;
    border-radius: 5px;
    width: 250px;
}

.password {
    
    display: flex;
    align-items: center;
    border: none;
    padding: 10px;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-weight:100;
    outline: none;
    background-color: white;
    border-radius: 5px;
    width: 250px;
}

.signbutton2 {
    margin-left: 20%;
    border-radius: 10px;
    font-weight: larger;
    color: white;
    background-color: #20205F;
    outline: none;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    outline: #00d0ff;
    font-weight: bold;
    font-size: medium;
    border: none;
    width: 150px;
}

.signbutton2 {
    
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #20205F;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.signbutton2:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.signbutton2:active {
    color: #000
}

.signbutton2:active:after {
    background: transparent;
}

.signbutton2:hover:before {
    opacity: 1;
}

.signbutton2:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #20205F;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.to-signin {
    display: flex;
    justify-content:center;
    display: inline-flex;
}

.sign-in-text {
    color: #00d0ff;
    cursor: pointer;
    text-decoration: none;
}

.form h5 {
    color: white;
}