/* MovieDetails.css */
body{
  max-width: 100px;
  scroll-behavior: smooth;
  max-width: fit-content;
}

.singlemovie-page {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: white;
  max-width: 100%;
}

.singlemovie-page h4 {
  font-size: 2rem;
  font-style: oblique;
}

.overview-container {
  background-color: rgba(174, 174, 174, 0.9);
  border-radius: 20px;
  padding: 60px;
  display:flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
}
.singlemovie-poster img {
  max-width: 400px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
}

.singlemovie-details {
  margin-left: 20px;
}

.singlemovie-title {
  font-size: 6rem;
  margin-bottom: 10px;
  margin-top: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  max-width: fit-content;
}

.singlemovie-genres {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
  justify-content: center;
  max-width: fit-content;
}

.genre {
  background-color: rgba(32, 32, 95, 0.3);
  padding: 4px 8px;
  border-radius: 4px;
  color: #00d0ff;
  font-weight: bold;
}

.singlemovie-overview {
  margin-top: -25px;
  font-size: 18px;
  line-height: 1.5;
  color: black;
  font-weight: bold;
}

.overviewtitle{
  margin-top: -50px;
 font-size: 1.8rem;
}




/* Styles for the cast section */
.movie-cast-container {
  overflow-x: auto;
  max-width:40%;
}

.movie-cast-container h4 {
  font-size: 2rem;
}

.movie-cast {
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.actor {
  background-color:black;
  border-radius: 10px;
  max-width: 150px;
}

.actor-image {
  width: 150px;
  height: auto;
  margin-right: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}

.actor-details {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.actor-name {
  font-weight: bold;
}

.actor-role {
  color: rgb(255, 255, 255);
}

/* Styles for the director section */
.movie-directors {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: -20px;
}

.director {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
  border-radius: 10px;
  background-color: black;
  max-width: 150px;
}

.director-image {
  width: 150px;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.director-name {
  font-weight: bold;
  padding: 10px;
}

/* Add your existing CSS styles below */
 